#carousel-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.background-0 {
  // background-image: url("../assets/blueberries.png");
  // background-image: url("../assets/oils-background-image.png");
  // background-image: url("../assets/heart-oil-background.png");
  background-size: 100% 100%;
  width: 100%;
  margin: 0 auto;
  color: rgb(243, 243, 243);
  transition: width 2s ease-in-out, color 2s ease-in-out;
  /* filter: grayscale(100%); */
}

#text-box-0 h1 {
  font-family: "Great Vibes", cursive;
  font-size: 8vw;
  transition: font-size 1.5s ease-in-out, transform 1.5s ease-in-out;
  -webkit-text-fill-color: transparent;
  color: rgb(255, 255, 255);
}

.background-paragraph-0 {
  transition: color 1.5s ease-in-out;
}

#background-1 {
  background-image: url("../assets/oils-background-image.png");
  background-size: 100% 100%;
  width: 0%;
  margin: 0 auto;
  color: rgb(243, 243, 243);
  transition: width 2s ease-in-out, color 2s ease-in-out;
  /* filter: grayscale(100%); */
}

.background-overlay-image {
  background-color: rgba(0, 0, 0, 0.493);
  height: 100%;
}

.text-box {
  text-align: center;
  padding-top: 34vh;
  font-family: "El Messiri", sans-serif;
}

.text-box p {
  font-size: 2.5vw;
  text-align: center;
}

.button {
  background-color: transparent;
  top: 40vh;
  border: 0px;
  font-size: 10vw;
  transform: scale(0.5, 1);
  outline: none;
}

.button:hover {
  color: rgb(75, 70, 70);
}

.next-image-carousel {
  position: absolute;
  left: 90%;
}

.previous-image-carousel {
  position: absolute;
  left: 10%;
}

// @for $i from 1 through 100 {
//   &.perc-#{$i} {
//     border: 1px solid red;
//     background: linear-gradient(to left, rgba(255, 0, 0, 0) #{$i}%, rgb(224, 224, 224) 80%);
//     background-clip: text;
//     -webkit-background-clip: text;
//   }
// }